.span12
  .module-header.workshops-header
    %h4= t('section.workshops')
- workshops.each_slice(2) do |workshops|
  %ul.event-items
    - workshops.each do |workshop|
      = render :partial => '/workshops/workshop', locals: { workshop: workshop}
  .span12

