.span12.text-center
  .module-header
    %h4= t('partners.header')
  .span4#canonical.text-center
    = link_to 'http://www.canonical.com/', target: :blank do
      = image_tag('/assets/partners/logo/canonical.png')
.span12.divider-space
