.span12.text-center
  .module-header#partners
    %h4= t('partners.header')
  - media.each do |partner|
    .span6.text-center
      = link_to partner.social_profile_links.world, target: :blank do
        = image_tag(partner.logo_url,alt: partner.name)
.span12.divider-space
