.span12
  .module-header.sponsors-header
    %h4= t('section.organizers')
#organizers.text-center
  - organisers.each do |organizer|
    .span4
      = link_to organizer.social_profile_links.world, target: :blank do
        = image_tag(organizer.logo_url)
