#countdown

.span12.white.register-box.text-center
  %h2.register-title
  %h2.register-title= t('about.register.tickets_available')
  %p{style: 'padding-bottom: 2em;'}= t('about.register.admitance_free')
  %a{ href: "http://www.eventbrite.com/e/dni-wolnego-oprogramowania-2015-registration-16080762995?ref=ebtn", target: :blank}
    %img{ src: "https://www.eventbrite.com/custombutton?eid=16080762995", alt: "Dni Wolnego Oprogramowania 2015"}
